<div style="position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: #39b54a;
    color: #000;
    width: 100%;">
  <%= date_year %>
  Автор: Nick(Николай Иванов)
  Проект: <%= github_url("nick8998", "Test-Guru")%>
  <div style="display: inline">Test_Guru - учебный проект, для создания, редактирования и прохождения тестов</div>
  <a href="https://thinknetica.com" target="_blank">Адрес школы</a>
</div>